        <title> The stock market</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
   
       <style>
           legend{
               border-color: chartreuse;
           }
           fieldset{
                     
            border-color:blue;
           }        
       </style> 
      
            <h1 style="text-align: center;"> Welcome to the World of Stock Market</h1> 
            <div class="text-center">
            <img [src]="myimage2" alt="stockimg" usemap="#shape"  >
            <map name="shape">
            
                        <area shape="circle" coords="20 10 400 5" href="https://www.bseindia.com/">
                    </map>
                
            
        </div>
        <br/>
        <h3 id="change1">We will teach you all types of strategy in stock market</h3>
      
           <button (click)="myFun()">dossss</button>
    <p>Firstly lets get into the basic of the market and Further we can deep a  into the course </p>
    <h3> What is stock market??</h3>
                <p>A stock market, equity market or share market is the aggregation of buyers and sellers of stocks (also called shares), which represent 
                     ownership claims on businesses; these may include securities listed on a public stock exchange, as well as stock that is only traded 
                     privately,such as shares of private companies. which are sold to investors through equity crowdfunding platforms. Investment in the 
                     stock market is most often done via stockbrokerages and electronic trading platforms. Investment is usually made with an investment
                     <i><q> Strategy in mind.</q></i>
                     <br/>



                    Stocks can be categorized by the country where the company is domiciled. For example, Nestlé and Novartis are domiciled in Switzerland and traded on the SIX Swiss Exchange, so they may be considered as part of the Swiss stock market, although the stocks may also be traded on exchanges in other countries, for example, as American depositary receipts (ADRs) on U.S. stock markets.</p>
    <br/>
            Here is some of links Redaring the stock market.Where you can learing from sctracth to pro.
            <ul>
                <li><a href="https://www.bajajfinserv.in/insights/difference-between-demat-account-and-trading-account#:~:text=A%20demat%20account%20is%20different,(ETFs)%20and%20other%20securities.&text=Whereas%20a%20trading%20account%20is%20for%20buying%20or%20selling%20of,a%20demat%20account%20to%20trade.">What is demat acoount and Trading Account?</a></li>
                <li><a href="https://www.youtube.com/watch?v=Xn7KWR9EOGQ">Basic's of stock market by ca rachana</a>   </li>
                <li><a href="https://www.youtube.com/watch?v=p7HKvqRI_Bo">How does the stock market works</a></li>
                <li><a href="https://www.youtube.com/watch?v=y7iVTTH5tOA">ultimte couse of stock market</a></li>
                <li><a href="https://www.youtube.com/watch?v=iF9tPQTDYHE">Top ten stock broker</a></li>
                <li><a href="https://www1.nseindia.com/global/content/about_us/about_us.htm ">What is Nse?</a> </li>
                <li><a href="https://www.bseindia.com/">What is Bse?</a></li>
                <li><a href="https://economictimes.indiatimes.com/definition/margin-trading#:~:text=Definition%3A%20In%20the%20stock%20market,than%20they%20can%20afford%20to.&text=A%20margin%20account%20provides%20you,at%20any%20point%20of%20time. ">What is the Trading Margin?</a></li>
                <li><a href="https://futures.tradingcharts.com/learning/chart_analysis.html#:~:text=Technical%20or%20chart%20analysis%2C%20by,of%20the%20price%20movement%20itself.">Why learning the chart analysis is so important</a></li>
                <li><a href="https://groww.in/blog/top-5-technical-analysis-tools-for-stock-market/">5 Basic Tools of Analysis</a></li>
                <li><a href ="https://timesofindia.indiatimes.com/business/faqs/market-faqs/who-are-anchor-investors-herere-the-features/articleshow/69082453.cms">who are anchor inverstor's</a></li>

            </ul>
            <div class="text-center">
            <img [src]="myimage3"
            alt ="stock market background image" height="=300px" width="900px"/>
        </div>

 

